@charset "UTF-8";
.index-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #222;
}
.index-header .nav-inicio .navbar {
  width: 100%;
  padding: 0;
  background: transparent;
  text-align: center;
  display: flex;
  gap: 1rem;
}
.index-header .nav-inicio .logo {
  max-width: 120px;
}
.index-header .nav-inicio ul {
  list-style: none;
  padding: 0;
}
.index-header .nav-inicio ul li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.index-header .nav-inicio ul li a {
  color: #f8f9fa;
  text-decoration: none;
}
.index-header .nav-inicio ul li a:hover {
  text-decoration: underline;
  color: #00FF85;
}
.index-header .nav-inicio ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.index-header .nav-inicio ul li {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  color: #f8f9fa;
  text-transform: uppercase;
  display: inline-block;
}
.index-header .nav-bar {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #f8f9fa;
  padding-top: 0.5rem;
}
.index-header .nav-bar .navbar {
  background-color: #222;
  color: #f8f9fa;
  width: auto;
  padding: 0;
  position: relative;
  z-index: 20;
}
.index-header .nav-bar .navbar-collapse {
  transition: all 0.3s ease-in-out;
  background-color: #222;
  color: #f8f9fa;
}
.index-header .nav-bar .nav-item a {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  color: #f8f9fa;
  text-transform: uppercase;
  display: inline-block;
}
.index-header .nav-bar .nav-item a:hover {
  color: #00FF85;
  transform: translateY(-5px);
  transition: transform 0.3s ease-in;
  background-color: #222;
}
.index-header .nav-bar .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 30;
  background-color: #222;
  color: #f8f9fa;
}
.index-header .nav-bar .dropdown-menu a {
  color: #f8f9fa;
  padding: 0.5em 1em;
  display: block;
  text-decoration: none;
}

.novedades {
  width: 100%;
  padding-top: 0;
}
.novedades .container-novedades {
  flex-direction: column;
  text-align: center;
}
.novedades h2 {
  font-size: 1.8em;
  text-align: center;
  text-transform: capitalize;
  margin: 0.5em;
  font-weight: bold;
}
.novedades p {
  font-size: 1.5em;
}

.carousel img {
  height: 35vH;
  /* ajustá según diseño */
  object-fit: contain;
  /* recorta manteniendo proporción */
}
.carousel .carousel-inner .carousel-caption {
  background-color: rgba(0, 0, 0, 0.3843137255);
}
.carousel .carousel-inner h5 {
  font-size: 1.5em;
}
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3843137255);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  margin: 0em 2em;
}
.carousel .carousel-control-prev:hover,
.carousel .carousel-control-next:hover {
  opacity: 1;
  color: #fff;
  transition: transform 0.5s ease-in;
  background-color: rgba(0, 0, 0, 0.7607843137);
}
.carousel .carousel-control-prev:hover {
  transform: translateX(-15px) scale(1.2);
}
.carousel .carousel-control-next:hover {
  transform: translateX(15px) scale(1.2);
}

main h2 {
  font-size: 1.8em;
  text-align: center;
  text-transform: capitalize;
  margin: 0.5em;
  font-weight: bold;
}

footer {
  background-color: #222;
  color: #f8f9fa;
  padding: 1rem 0;
}
footer h4 {
  font-size: 1.5em;
  text-align: center;
  text-transform: capitalize;
  margin: 0.5em;
  font-weight: bold;
}
footer h6 {
  font-size: 0.9rem;
  margin: 0;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
footer ul li a {
  color: #f8f9fa;
  text-decoration: none;
}
footer ul li a:hover {
  text-decoration: underline;
  color: #00FF85;
}

.icon {
  width: 40px;
  object-fit: contain;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #444;
  border-radius: 6px;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.footer-icon {
  width: 90px;
  object-fit: contain;
  padding: 4px;
  border-radius: 6px;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #444;
}

main h2 {
  font-size: 1.8em;
  text-align: center;
  text-transform: capitalize;
  margin: 0.5em;
  font-weight: bold;
}
main .cards-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 5rem;
}
main .card-item {
  flex: 1 1 20%;
  margin-bottom: 1rem;
}
main .card-item:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 8px 20px #005D54;
}
main .card-item .card-img {
  height: 200px;
  /* ajustá según diseño */
  object-fit: contain;
  /* recorta manteniendo proporción */
}
main .card-item .card-link {
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
}
main .card-item .card-body {
  text-align: center;
}
main .card-item .card-body h5 {
  font-size: 2rem;
}
main .card-item .card-body p {
  margin-top: auto;
  font-size: 2rem;
  color: #85BB65;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
main .card-item .card-body .btn-buy {
  align-items: center;
  font-size: 25px;
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  padding: 0.2em 1em;
  border-radius: 0.5em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
main .card-item .card-body .btn-buy:hover {
  background-color: #2980b9;
  transform: translateY(-5px) scale(1);
}

.product-card {
  border: 1px solid #777;
  border-radius: 10px;
  background: #fff;
  padding: auto;
}
.product-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 8px 20px #005D54;
}
.product-card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1019607843);
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.product-card .img-fluid {
  width: 100%;
  height: auto;
}
.product-card .container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.product-card .container-card .product-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000000;
}
.product-card .container-card .card-text {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 8px;
}
.product-card .container-card .price {
  font-size: 2rem;
  margin: 12px 0;
}
.product-card .container-card .price .current {
  color: #e63946;
  font-weight: bold;
}
.product-card .container-card .price .old {
  text-decoration: line-through;
  margin-left: 8px;
  color: #777;
}
.product-card .container-card .price .discount {
  margin-left: 8px;
  color: #FFA500;
  font-weight: bold;
}
.product-card .container-card .payment,
.product-card .container-card .rating,
.product-card .container-card .shipping {
  font-size: 1.5rem;
  margin-bottom: 6px;
  color: #000000;
}
.product-card .container-card .btn-buy {
  align-items: center;
  font-size: 20px;
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  padding: 0.2em 1em;
  border-radius: 0.5em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.product-card .container-card .btn-buy:hover {
  transform: translateY(-5px) scale(1);
}
.product-card .container-card .btn-buy .product-info {
  font-size: 2rem;
}

.related {
  margin-top: 25px;
}
.related h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #000000;
  padding: 0px 25px;
}
.related ul {
  list-style: none;
  padding: 0;
}
.related ul li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.related ul li img {
  width: 100px;
  height: auto;
  margin-right: 10px;
  border-radius: 4px;
}
.related ul li a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}
.related ul li a:hover {
  color: #e63946;
}

@media (min-width: 577px) {
  .index-header .nav-inicio .logo {
    max-width: 150px;
  }
  .cards-row {
    padding: 1rem 2rem;
  }
  .card-item {
    flex: 1 1 calc(50% - 1rem);
  }
  .carousel img {
    height: 45vh;
  }
  h2 {
    font-size: 2.2em;
  }
  .product-card {
    margin: 1.5rem;
  }
  .product-card .img-fluid {
    width: 40%;
  }
  .product-card .container-card {
    flex-direction: row;
    padding: 20px;
  }
}
@media (min-width: 993px) {
  .index-header .nav-inicio .logo {
    max-width: 200px;
  }
  .cards-row {
    padding: 1rem 1.5rem;
  }
  .card-item {
    flex: 1 1 22%;
  }
  .carousel img {
    height: 50vh;
  }
  h2 {
    font-size: 3em;
  }
  .product-card {
    margin: 2rem;
  }
  .product-card .img-fluid {
    width: 25%;
  }
}
@media (max-width: 576px) {
  .nav-inicio .navbar {
    flex-direction: column;
    gap: 0.5rem;
  }
  .nav-inicio .sesion ul {
    flex-direction: column;
    gap: 0.3rem;
  }
  .nav-inicio form.d-flex {
    width: 100%;
  }
  footer .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
  }
  footer h4 {
    font-size: 1.2em;
  }
  .card-item {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .btn-buy {
    font-size: 18px !important;
    padding: 0.3em 0.8em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 35px;
    height: 35px;
    margin: 0em 0.5em;
  }
  .product-card {
    flex-direction: column !important;
  }
  .product-card .container-card {
    flex-direction: column !important;
  }
  .product-card .img-fluid {
    width: 100% !important;
  }
}
* {
  /* bordes eliminados */
  margin: 0;
  /* rellenos que vienen por defaul */
  padding: 0;
  /* fonts Darker Grotesque */
  font-family: "Darker Grotesque", sans-serif;
}

/*# sourceMappingURL=stylesheet.css.map */
