@import './utilities/variables';
@import './layout/header';
@import './layout/section';
@import './layout/main';
@import './layout/footer';
@import '../scss/componentes/cardproducto';
@import './componentes/postcard';
@import './componentes/cardabout';
@import './utilities/media';


* {
  /* bordes eliminados */
  margin: 0;
  /* rellenos que vienen por defaul */
  padding: 0;
  /* fonts Darker Grotesque */
  font-family: "Darker Grotesque", sans-serif;
}