@media (max-width: 768px) {
    .logo {
        max-width: 120px;
        margin: 1em auto;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        background-color: #000;
        padding: 1em;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 25;
    }
}