.index-header {
        height: auto;
        background-color: #000;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;        
        position: relative;
        z-index: 10;
    
    .logo {
        max-width: 260px;
        height: auto;
        object-fit: contain;
        margin: 2em auto;
    }

    .navbar {
        overflow: visible;
    }

    .navbar {
        position: relative;
        z-index: 20;
        background-color: #000;
        overflow: visible;
    }

    .navbar-collapse {
        transition: all 0.3s ease-in-out;
    }
    
    .nav-item a:hover {
        color: #fff;
        transform: translateY(-20px);
        transition: transform 1s ease-in;
        background-color: #000        
    }

    .nav-item a {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 1rem;
        border-radius: 1em;
        padding: 0.5em 1em;
        display: inline-block;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 30;
        background-color: #000;
        color: white;

        a {
            color: #fff;
            font-size: 1rem;
            padding: 0.5em 1em;
            display: block;
            text-decoration: none;
        }
    }

}