@import '../utilities/variables';

.index-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: $principal-bg;

    .nav-inicio {

        .navbar {
            width: 100%;
            padding: 0;
            background: transparent;
            text-align: center;
            display: flex;
            gap: 1rem;
        }

        .logo {
            max-width: 200px;
        }

        @include lista;

        ul {
            display: flex;
            justify-content: space-between;
            
            gap: 1rem;

            li {
                @include text-main
            }
        }
    }

    .nav-bar {
        display: flex;
        justify-content: space-evenly;
        border-top: 1px solid $subtext-color;
        padding-top: 0.5rem;

        .navbar {
            background-color: $principal-bg;
            color: $subtext-color;
            width: auto;
            padding: 0;
            position: relative;
            z-index: 20;
        }


        .navbar-collapse {
            transition: all 0.3s ease-in-out;
            background-color: $principal-bg;
            color: $subtext-color;
        }

        .nav-item a {

            @include text-main;

            &:hover {
                color: $color-inside;
                transform: translateY(-5px);
                transition: transform 0.3s ease-in;
                background-color: $principal-bg;
            }
        }

        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 30;
            background-color: $principal-bg;
            color: $subtext-color;

            a {
                color: $subtext-color;
                padding: 0.5em 1em;
                display: block;
                text-decoration: none;
            }
        }
    }
}