.novedades {
    width: 100%;
    padding-top: 0;

    .container-novedades {
        flex-direction: column;
        text-align: center;
    }

    h2 {
        @include titulo-base;
    }

    p {
        font-size: $text-base;
    }

}

.carousel {

    img {
        height: 35vH;        
        /* ajustá según diseño */
        object-fit: contain;
        /* recorta manteniendo proporción */
    }

    .carousel-inner {
        .carousel-caption {
            background-color: $carousel-color;
        }

        h5 {
            font-size: $text-base;
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 50px; 
        height: 50px; 
        border-radius: 50%; 
        background-color: $carousel-color;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        margin: 0em 2em;        
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        opacity: 1;
        color: #fff;
        transition: transform 0.5s ease-in;
        background-color: #000000c2;
    }

    .carousel-control-prev:hover {
        transform: translateX(-15px) scale(1.2);
    }

    .carousel-control-next:hover {
        transform: translateX(15px) scale(1.2);
    }
}