.card-about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.219);
  background: #fff;

  .about-img{
    align-items: center;
    padding: 2rem 0;
    width: 25%;   
  }


  .logo-img {
     width: 50%;// tamaño máximo del logo
    height: auto;
    display: block;
    margin: 0 auto; // centra el logo dentro de la columna    
  }

  .about-title {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
  }

  .about-text ul {
    list-style: none;
    padding: 0;
  }

  .about-text {
    margin: 0.5rem 0;
    font-size: 1.5rem;
  }

  .card-about:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  }

}