main {

    h2 {
        @include titulo-base;
    }

    .cards-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem 5rem;
    }

    .card-item {
        flex: 1 1 20%; // reemplaza col-md-3
        margin-bottom: 1rem; // reemplaza mb-4

        &:hover {
            transform: translateY(-10px) scale(1.05); // se levanta un poco 
            box-shadow: 0 8px 20px #005D54; // sombra elegante
        }

        .card-img {
            height: 200px;
            /* ajustá según diseño */
            object-fit: contain;
            /* recorta manteniendo proporción */
        }

        .card-link {
            text-decoration: none; 
            color: $text-color; 
            text-transform: capitalize;
        }

        .card-body {
            text-align: center;
            
            h5 {
                font-size: 2rem;
            }

            p {
                margin-top: auto;
                font-size: 2rem;
                color: #85BB65;                
                font-weight: bold;
                margin-bottom: 0.5rem;
            }

            .btn-buy {
                align-items: center;
                font-size: 25px;
                display: inline-block;
                background-color: #3498db; 
                color: #fff;
                padding: 0.2em 1em;
                border-radius: 0.5em;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.3s ease;


                &:hover {
                    background-color: #2980b9;
                    transform: translateY(-5px) scale(1);
                }
            }
        }
    }
}